<!--<div class="container">
  <% if flash[:alert] %>
      <p id="notice"><%= flash[:alert] %></p>
  <% end %>
  <%= form_tag do %>
      <fieldset>
        <legend> please log in</legend>
        <div>
          <%= label_tag :name, 'Naam:' %>
          <%= text_field_tag :name, params[:name] %>
        </div>
        <div>
          <%= label_tag :password, 'Paswoord:' %>
          <%= password_field_tag :password, params[:password] %>
        </div>
        <div>
          <%= submit_tag 'Login' %>
        </div>
      </fieldset>
  <% end %>
</div>-->


<div class="container">
  <% if flash[:alert] %>
      <div class="alert alert-danger" role="alert"><%= flash[:alert] %></div>
  <% end %>
  <%= form_tag "login", :class => 'form-signin' do %>
    <h2 class="form-signin-heading">Log in</h2>
    <input type="text" name="name" class="form-control" placeholder="Gebruikersnaam" required autofocus>
    <input type="password" name="password" class="form-control" placeholder="Wachtwoord" required>
<!--    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>-->
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <% end %>

</div>