<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @school.address %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @school.postcode %>
</p>

<p>
  <strong>Town:</strong>
  <%= @school.town %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @school.telephone %>
</p>

<p>
  <strong>Website:</strong>
  <%= link_to @school.website %>
</p>

<p>
  <strong>Note:</strong>
  <%= @school.note %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
