<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-primary">
        <div class="panel-heading"><%= @school.name %></div>
        <div class="panel-body">
            <%= @school.address %><br />
            <%= @school.postcode %> <%= @school.town %><br />
            <%= @school.telephone %><br />
            <%= @school.email %><br />
            <%= link_to "www.albertschweitzer.nl", @school.website %>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Contactpersoon</div>
        <div class="panel-body">
          <ul>
            <li>Erik Pragt</li>
            <li>06-12345678</li>
            <li>erik@albertschweitzer.nl</li>
          </ul>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Locatie</div>
        <div class="panel-body">
            <img src="http://www.mappery.com/maps/Bielefeld-Street-Map.mediumthumb.jpg" width="230px">
        </div>
      </div>
    </div>
    <div class="col-md-9">



    <p id="notice"><%= notice %></p>

<p>
  <strong>Naam school:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Adres:</strong>
  <%= @school.address %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @school.postcode %>
</p>

<p>
  <strong>Plaats:</strong>
  <%= @school.town %>
</p>

<p>
  <strong>Telefoon:</strong>
  <%= @school.telephone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @school.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= link_to @school.website %>
</p>

<p>
  <strong>Opmerkingen:</strong>
  <%= @school.note %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>


    </div>
  </div>
</div>
