<p id="notice"><%= notice %></p>

<p>
  <strong>Naam school:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Adres:</strong>
  <%= @school.address %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @school.postcode %>
</p>

<p>
  <strong>Plaats:</strong>
  <%= @school.town %>
</p>

<p>
  <strong>Telefoon:</strong>
  <%= @school.telephone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @school.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= link_to @school.website %>
</p>

<p>
  <strong>Opmerkingen:</strong>
  <%= @school.note %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
