<p id="notice"><%= notice %></p>

<p>
  <strong>Naam:</strong>
  <%= @contactpersoon.name %>
</p>

<p>
  <strong>Functie:</strong>
  <%= @contactpersoon.function %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contactpersoon.mail %>
</p>

<p>
  <strong>Telefoon:</strong>
  <%= @contactpersoon.telephone %>
</p>

<p>
  <strong>Opmerkingen:</strong>
  <%= @contactpersoon.note %>
</p>

<%= link_to 'Edit', edit_contactpersoon_path(@contactpersoon) %> |
<%= link_to 'Back', contactpersoons_path %>
